[package]
name = "rpl"
version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
rpl-vm = { workspace = true }
smallvec = { workspace = true }
thiserror = { workspace = true }
